<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cui.shibing.freeread.dao.NovelHeadDao">
	<resultMap id="BaseResultMap" type="cui.shibing.freeread.model.NovelHead">
		<id column="novel_id" property="novelId" jdbcType="INTEGER" />
		<result column="novel_name" property="novelName" jdbcType="VARCHAR" />
		<result column="novel_content_table_name" property="novelContentTableName"
			jdbcType="VARCHAR" />
		<result column="novel_content_id" property="novelContentId"
			jdbcType="INTEGER" />
		<result column="novel_class" property="novelClass" jdbcType="VARCHAR" />
		<result column="novel_status" property="novelStatus" jdbcType="INTEGER" />
		<result column="novel_chapter_num" property="novelChapterNum"
			jdbcType="INTEGER" />
		<result column="novel_author" property="novelAuthor" jdbcType="INTEGER" />
		<result column="novel_access" property="novelAccess" jdbcType="INTEGER" />
		<result column="novel_popularity" property="novelPopularity"
			jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		novel_id, novel_name, novel_content_table_name, novel_content_id, novel_class,
		novel_status,
		novel_chapter_num, novel_author, novel_access, novel_popularity
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from novel_head
		where novel_id = #{novelId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from novel_head
		where novel_id = #{novelId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="cui.shibing.freeread.model.NovelHead">
		insert into novel_head (novel_id, novel_name,
		novel_content_table_name,
		novel_content_id, novel_class, novel_status,
		novel_chapter_num, novel_author, novel_access,
		novel_popularity)
		values (#{novelId,jdbcType=INTEGER}, #{novelName,jdbcType=VARCHAR},
		#{novelContentTableName,jdbcType=VARCHAR},
		#{novelContentId,jdbcType=INTEGER}, #{novelClass,jdbcType=VARCHAR},
		#{novelStatus,jdbcType=INTEGER},
		#{novelChapterNum,jdbcType=INTEGER}, #{novelAuthor,jdbcType=INTEGER}, #{novelAccess,jdbcType=INTEGER},
		#{novelPopularity,jdbcType=INTEGER})
	</insert>
	<update id="updateByPrimaryKey" parameterType="cui.shibing.freeread.model.NovelHead">
		update novel_head
		set novel_name = #{novelName,jdbcType=VARCHAR},
		novel_content_table_name = #{novelContentTableName,jdbcType=VARCHAR},
		novel_content_id = #{novelContentId,jdbcType=INTEGER},
		novel_class = #{novelClass,jdbcType=VARCHAR},
		novel_status = #{novelStatus,jdbcType=INTEGER},
		novel_chapter_num = #{novelChapterNum,jdbcType=INTEGER},
		novel_author = #{novelAuthor,jdbcType=INTEGER},
		novel_access = #{novelAccess,jdbcType=INTEGER},
		novel_popularity = #{novelPopularity,jdbcType=INTEGER}
		where novel_id = #{novelId,jdbcType=INTEGER}
	</update>
</mapper>