<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cui.shibing.freeread.dao.NovelContentMapper">
	<resultMap id="BaseResultMap" type="cui.shibing.freeread.model.NovelContent">
		<result column="novel_content_id" property="novelContentId"
			jdbcType="INTEGER" />
		<result column="novel_id" property="novelId" jdbcType="INTEGER" />
		<result column="novel_chapter" property="novelChapter"
			jdbcType="INTEGER" />
		<result column="novel_chapter_path" property="novelChapterPath"
			jdbcType="VARCHAR" />
	</resultMap>
	<insert id="insert" parameterType="cui.shibing.freeread.model.NovelContent">
		insert into novel_content (novel_content_id, novel_id, novel_chapter,
		novel_chapter_path)
		values (#{novelContentId,jdbcType=INTEGER}, #{novelId,jdbcType=INTEGER},
		#{novelChapter,jdbcType=INTEGER},
		#{novelChapterPath,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="cui.shibing.freeread.model.NovelContent">
		insert into novel_content
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="novelContentId != null">
				novel_content_id,
			</if>
			<if test="novelId != null">
				novel_id,
			</if>
			<if test="novelChapter != null">
				novel_chapter,
			</if>
			<if test="novelChapterPath != null">
				novel_chapter_path,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="novelContentId != null">
				#{novelContentId,jdbcType=INTEGER},
			</if>
			<if test="novelId != null">
				#{novelId,jdbcType=INTEGER},
			</if>
			<if test="novelChapter != null">
				#{novelChapter,jdbcType=INTEGER},
			</if>
			<if test="novelChapterPath != null">
				#{novelChapterPath,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
</mapper>